@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s ease;
}
body{
    background: #000;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title{
    color: #fff;
    font-size: 2rem;
}
.btn{
    padding: 1rem 3.5rem;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    background: green;
    color:white;
    font-weight: bold;
    border: none;
    outline: none;
}
.light-on{
    background: red;
}
.bulb-light i,.bulb-light-off i{
    font-size: 30rem;
    color:yellow;
}
.bulb-light-off i{
    color:rgb(46, 46, 0);
}

